
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');		
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Lora-Regular.ttf') format('truetype');		
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Lora-Medium.ttf') format('truetype');		
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lora';
	src: url('../fonts/Lora-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-search {
  width: 0.9285714285714285em;
}

.icon-book {
  width: 0.9302142857142857em;
}

.icon-map-marker {
  width: 0.5714285714285714em;
}

.icon-facebook {
  width: 0.5881428571428571em;
}

.icon-linkedin {
  width: 0.8571428571428571em;
}

.icon-angle-left {
  width: 0.375em;
}

.icon-angle-right {
  width: 0.33928571428571425em;
}

.icon-angle-down {
  width: 0.6428571428571428em;
}

.icon-mobile {
  width: 0.42857142857142855em;
}

.icon-youtube {
  width: 0.8571428571428571em;
}

.icon-instagram {
  width: 0.8571428571428571em;
}


